<div class="bg-image">
  <div class="content">
    <div class="app-name">
      ShareMyWay
    </div>

    <div class="quote">
      <div class="quote-heading">
        <p><span class="quote-content">"</span>Let's discover the world..</p>
        <p>One click at a time!</p>
      </div>
    </div>

    <button class="button">
      <%= link_to "Get Started", new_user_registration_path %>
    </button>

  </div>
</div>
