<div class="bg-image">
  <div class="content">
    <div class="app-name">
      ShareMyWay
    </div>

    <div class="quote">
      <div class="quote-heading">
        <p><span class="quote-content">"</span>Let's discover the world..</p>
        <p>One click at a time!</p>
      </div>
    </div>

    <button class="button">
    <%# Si current user => le bouton redirige vers l'index %>
    <%# Si pas de current user => le bouton redirige vers sign up%>
    <% if current_user %>
      <%= link_to "Get Started", events_path, class:"fw-bold" %>
    <% else %>
      <%= link_to "Get Started", edit_user_registration_path, class:"fw-bold" %>
    <% end %>
    </button>

  </div>
</div>
