.img-show {
  height: 230px;
}

.btn-back-all-events {
  position: absolute;
  font-size: 22px;
  bottom: 93%;
  left: 2%;
  color: $white;
  // position: relative;
  border-radius: 50%;
  border: none;
  margin: 15px;
}

.join-event-button {
  font-size: 20px;
  position: absolute;
  background-color: transparent;
  bottom: 93%;
  left: 84%;
  color: $white;
  // position: relative;
  border-radius: 50%;
  border: none;
  margin: 15px;
}

.delete-event-button {
  font-size: 20px;
  position: absolute;
  background-color: transparent;
  bottom: 93%;
  left: 84%;
  color: $white;
  // position: relative;
  border-radius: 50%;
  border: none;
  margin: 15px;
}

.edit-event-button {
  font-size: 20px;
  position: absolute;
  background-color: transparent;
  bottom: 93%;
  left: 74%;
  color: $white;
  // position: relative;
  border-radius: 50%;
  border: none;
  margin: 15px;
}

.show-infos{
  margin-top: 50px;
  margin-left: 20px;
}

.category {
  position: absolute;
  left: 85%;
  top: 170px;
  color: $white;
  background-color: $burgundy;
  font-style: normal;
  border-radius: 5px;
  padding: 12px;
}

.event-title {
  font-weight: bold;
}

.spacy {
  margin-bottom: 10px;
}

.size {
  font-size: 15px;
}

.where-show {
  color: $white;
  background-color: $kakhi;
  font-style: normal;
  border-radius: 5px;
  padding: 8px;
  margin-right: 5px;
}

.when-show {
  color: $white;
  background-color: $yellow;
  font-style: normal;
  border-radius: 5px;
  padding: 7px;
  margin-right: 5px;
}

.who-show {
  color: $white;
  background-color: grey;
  font-size: 13px;
  font-style: normal;
  border-radius: 5px;
  padding: 6px;
  margin-right: 5px;
}

.description {
  margin-top: 15px;
  margin-bottom: 10px;
}

.text-description {
  color: #5e5c5c;
  font-size: 16px;
  font-style: italic;
}

.where-show-new {
  color: $white;
  background-color: $kakhi;
  font-style: normal;
  border-radius: 5px;
  padding: 8px;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.when-show-new {
  color: $white;
  background-color: $yellow;
  font-style: normal;
  border-radius: 5px;
  padding: 8px;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.what-show-new {
  color: $white;
  background-color: $burgundy;
  font-style: normal;
  border-radius: 5px;
  padding: 8px;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#category-icon {
  color: $white;
  background-color: $burgundy;
  font-style: normal;
  border-radius: 5px;
  padding: 8px;
  height: 39px;
  width: 39px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.input-group-addon-new{
  height: 39px;
  width: 39px;
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.event_address{
  flex: 1;
  margin-bottom: 0 !important;
}

.event_date{
  flex: 1;
  margin-bottom: 0 !important;
}

.event_category{
  flex: 1;
  margin-bottom: 0 !important;
}

.input-wrapper-new{
  margin-bottom: 20px;
}
