.image-event-show {
  position: relative;
}
.img-show {
  height: 230px;
  object-fit: cover;
}
.image-event-gradiant {
  display: block;
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(to top, transparent, transparent 50%, #181717 100%);
}

.btn-back-all-events {
  position: absolute;
  font-size: 27px;
  bottom: 91%;
  left: 2%;
  color: $white;
  // position: relative;
  border-radius: 50%;
  border: none;
  margin: 15px;
}

.join-event-button {
  font-size: 23px;
  position: absolute;
  background-color: transparent;
  bottom: 92%;
  left: 80%;
  color: $white;
  // position: relative;
  border-radius: 50%;
  border: none;
  margin: 15px;
}

.delete-event-button {
  font-size: 20px;
  position: absolute;
  background-color: transparent;
  bottom: 93%;
  left: 84%;
  color: $white;
  // position: relative;
  border-radius: 50%;
  border: none;
  margin: 15px;
}

.edit-event-button {
  font-size: 20px;
  position: absolute;
  background-color: transparent;
  bottom: 93%;
  left: 74%;
  color: $white;
  // position: relative;
  border-radius: 50%;
  border: none;
  margin: 15px;
}

.show-infos{
  margin-top: 50px;
  margin-left: 20px;
}

.category {
  position: absolute;
  left: 85%;
  top: 170px;
  color: $white;
  background-color: $burgundy;
  font-style: normal;
  border-radius: 5px;
  padding: 12px;
}

.event-title {
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 20px;
}

.spacy {
  margin-bottom: 15px;
}

.size {
  font-size: 18px;
}

.where-show {
  color: $white;
  background-color: $kakhi;
  font-style: normal;
  border-radius: 5px;
  padding: 10px;
  margin-right: 5px;
}

.display-date {
margin-top: 5px;
}

.count-members {
  margin-bottom: 9px;
}

.who-show-new {
  color: $white;
  background-color: grey;
  font-style: normal;
  border-radius: 5px;
  padding: 8px;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

// .who-show {

//   border-radius: 5px;
//   padding: 7px;
//   margin-right: 5px;
// }

.description {
  margin-top: 15px;
  margin-bottom: 10px;
}

.text-description {
  color: #5e5c5c;
  font-size: 16px;
  font-style: italic;
  margin-top: 35px;
}

.where-show-new {
  color: $white;
  background-color: $kakhi;
  font-style: normal;
  border-radius: 5px;
  padding: 8px;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.when-show-new {
  color: $white;
  background-color: $yellow;
  font-style: normal;
  border-radius: 5px;
  padding: 8px;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.what-show-new {
  color: $white;
  background-color: $burgundy;
  font-style: normal;
  border-radius: 5px;
  padding: 8px;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#category-icon {
  color: $white;
  background-color: $burgundy;
  font-style: normal;
  border-radius: 5px;
  padding: 8px;
  height: 39px;
  width: 39px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.input-group-addon-new{
  height: 39px;
  width: 39px;
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.location {
  margin-top: 7px;
}

.event_address{
  flex: 1;
  margin-bottom: 0 !important;
}

.event_date{
  flex: 1;
  margin-bottom: 0 !important;
}

.event_category{
  flex: 1;
  margin-bottom: 0 !important;
}

.input-wrapper-new{
  margin-bottom: 20px;
}
