// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "form_legend_clear";
@import "navbar";
@import "button";

h1{
  text-align: center;
}

.one-event{
  display: flex;
  align-items: center;
}

.name-and-location{
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

.event-title{
  font-weight: bold;
}
