// .input-photo{
//   width: 168px;
//   height: 168px;
//   border-radius: 50%;
//   margin: auto;
//   background-color: #89807A66;
//   transform: scale(0)
// }

.file-container {
  position: relative;
  height: 185px;
  display: flex;
  justify-content: center;
}

.input-photo {
  transform: scale(0);
}

.file-label {
  display: inline-block;
  width: 168px;
  height: 168px;
  background-color: #f2f2f2;
  border-radius: 50%;
  cursor: pointer;
  position: absolute;
}

.file-label-new {
  display: inline-block;
  width: 100%;
  height: 168px;
  background-color: #f2f2f2;
  // border-radius: 50%;
  cursor: pointer;
  position: absolute;
}

.file-label-event {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 168px;
  background: #f2f2f2;
  border: solid #C4C4C4;
  border-radius: 8px;
  cursor: pointer;
}

.margin-navbar{
  margin-bottom: 66px;
}
#avatar_user_edit img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

#avatar_user_edit_new img {
  object-fit: contain;
  width: 100%;
  height: 168px;
}

#avatar_user_edit .edit-btn {
  position: absolute;
  bottom: 20px;
  right: 20px;
  padding: 10px;
  background-color: white;
  border-radius: 10px;
}

.tag-classic-input1 {
  font-family: 'arial';
  border-radius: 8px;
  border: 2px solid #C4C4C4;
  background-color: white;
}

.tag-classic-input {
  font-family: 'arial';
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
}

.tag-classic-input1::placeholder {
  color: #999; /* Replace with your desired lighter color */
}

.button-my-profil {
  border-radius: 15px;
  background: #FFC436;
  margin-bottom: 25px;
}
.form-actions {
  text-align: center;
}

.center-text {
  color: #8C3333;
  font-family: roboto, Arial;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
}

#left {
  align-items: start !important;
}

.arial-police {
  font-family: roboto, Arial;
  font-size: 15px;;
  color: #8C3333;
  text-align: center;
  font-weight: 600;
}


.align-element {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 12px;
  margin-right: 17px;
}



.bouton-modified {
  border-radius : 50%;
  background-color: rgba(170, 170, 170, 0.644);
  font-size: 20px;
  width: 30px;
  text-align: center;
}

.custom-radio-input {
  display: none;
}
/* Style de l'image qui remplacera le bouton radio */
.custom-radio-img {
  width: 70px;
  height: 70px;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(85, 122, 70, 0.4);
  border-radius: 10px;
}

/* Indiquez visuellement quand un bouton est sélectionné */
.custom-radio-input:checked + .custom-radio-img {
  border: 2px solid #8C3333;
}

.radio-buttons-group {
  margin-bottom: 40px;
  margin-top: 15px;
  display: flex;
  justify-content: center;
  gap: 4px;

  span {
    max-width: 89px;
  }
}

.custom-radio-label{
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  cursor: pointer;
}

h4 {
  margin-bottom: 35px;
  margin-top: 25px;
}

h5 {
  text-align: center;
  font-family: Montserrat;
  font-size: 16px;
  color: #8C3333;
  font-weight: bold;
}


.image-size {
  width: 30px;
}

.custom-radio-text {
  font-family: Montserrat;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.24px;
  margin-top: 7px;
}

.green-bg-overlay {
  background-color: rgba(0, 255, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  z-index: 1;
}

.profil-page-new {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.custom-radio-label-2{
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  height: 105px;
}

.text-profil {
  font-family: 'arial';
  border-radius: 8px;
  margin: 0px;
}

.answer-text-profil {
  color: #6B6B6B;
  font-family: Montserrat;
  font-size: 14px;
  padding: 10px 25px 25px 25px;
}

.title-profil {
  text-align: center;
  font-family: Montserrat;
  font-size: 24px;
  font-weight: bold;
}
