.navbar{
  background-color: white;
  width: calc( 100% - 30px);
  position: fixed;
  bottom: 0;
  justify-content: space-between;
  border: 1px grey;
  border-radius: 20px;
  box-shadow: 5px 5px 5px rgb(206, 204, 204);
  margin: 15px;
  margin-bottom: 5px;
  padding-left: 20px;
  padding-right: 20px;
}

.icon-navbar{
  border: none;
  font-size: 18px;
  color: #8C3333;
}

.add-event{
  font-size: 25px;
}
